<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @support.content %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @support.userid %>
</p>

<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
